.git
.DS_Store

**/__pycache__/
**/*.py[cod]
**/*.egg-info/
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/.venv/
**/venv/

**/node_modules/
**/.vite/
**/out/
**/dist/
**/build/

**/.env
**/.env.*
**/app.yaml
**/.deploy/

databricks-builder-app-oai/logs/
databricks-builder-app-oai/projects/
databricks-builder-app-oai/packages/

databricks-builder-app/logs/
databricks-builder-app/projects/
databricks-builder-app/packages/
